body {
	background-color: aqua;
	box-sizing: content-box;
	align-items: center;
	justify-content: center;
}
h1,
h2 {
	color: crimson;
	text-align: center;
}
div {
	right: 50%;
	top: 50%;
	position: absolute;
	text-align: center;
	align-items: center;
}
